@model WebApplication2.Models.Motorcycle_Operation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Motorcycle_Operation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotorcycleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotorcycleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sign.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sign.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
