@model IEnumerable<WebApplication2.Models.Motorcycle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MotorcycleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotorcycleLiceinse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseNo)
        </th>
      @*  <th>
        @Html.DisplayNameFor(model => model.Sign.Name)
    </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MotorcycleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotorcycleLiceinse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseNo)
        </td>
        @*<td>
        @Html.DisplayFor(modelItem => item.Sign.Name)
    </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MotorcycleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MotorcycleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MotorcycleID })
        </td>
    </tr>
}

</table>
